.wrapper-beasiswa {
    width: 100%;
}

.wrapper-bea h1 {
    text-align: center;
}

.wrapper-bea {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.konten-bea {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.konten-bea img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.konten-bea .desc-bea {
    margin-left: 20px;
}

.konten-bea .judul-bea h3 {
    margin: 0;
    font-size: 1.2em;
}

.konten-bea .desc-bea .desc {
    width: 800px;
    overflow: hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.konten-bea button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}