.Profile-Page {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Profile-Page ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Profile-Page li {
    display: flex;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.Profile-Page li:hover {
    background-color: #fff;
    color: #1F4690;
}

.Profile-Page li .icon {
    font-size: 30px;
    margin-right: 10px;
}

.Profile-Page .profile {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-bottom: 30px;
}

.profile .left {
    flex: 1;
    width: 100%;
    height: 100%;
}

.profile .left {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 90px;
    gap: 30px;
}

.profile .left .box {
    width: 350px;
    height: 90px;
    gap: 10px;
    background-color: #1F4690;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    align-items: center;
}

.profile .left .box .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile .left .box .image img {
    width: 100%;
    height: 100%;
}


.profile .left .box.text {
    display: flex;
    flex-direction: column;
}


.profile .left .box:nth-last-child(1) {
    width: 350px;
    height: 300px;
    display: flex;
    gap: 30px;
}

.profile .left .box h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.profile .left .box .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile .left .box p {
    margin: 0;
    font-size: 14px;
}

.profile .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .right .box-right {
    width: 600px;
    height: 100%;
    background: #1F4690;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.box-right .form-group {
    width: 500px;
    height: 60px;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
}

.box-right .form-group input {
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #FFF2F2;
}

.box-right button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}