.wrapper-index-admin {
    display: flex;
    flex-direction: row;
}
.wrapper-menu-index-admin {
    display: flex;
    flex-direction: column;
    background-color: #1F4690;
    color: white;
    height: max-content;
    gap: 55px;
    padding: 20px;
}

.logo-putih {
    width: 200px;
}

.menu-admin {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 20px;
    align-items: justify;
    justify-content: center;
    margin-bottom: 35px;
}

.menu-admin-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.akun-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 30px;
}

/* .menu-admin :hover {
    border-left: 3px solid;
} */

.active {
    border-left: 3px solid;
}

.img-admin {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profil {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
}

.admin {
    /* font-size: 12px;
    margin-top: -10px; */
    color: rgba(255, 255, 255, 60%);
    margin-top: -10px;
}

.button {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.button-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 3px;
    border: 0px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background: #B9344C;
    color: white;
    cursor: pointer;
}

.button-logout:hover {
    background: #bc1d3a;
}

.konten {
    display: flex;
    flex-direction: column;
}

.header-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding-left: 38px;
    padding-right: 38px;
}

.header-admin p {
    color: #b3b3b3;
    margin-top: -20px;
}

.search-and-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search {
    border: 0px;
    border-radius: 5px;
    background-color: #eeeeee;
    /* background-color: #e7e6e6; */
    padding: 8px;
}

.button-filter {
    border: 0px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #7f7f7f;
    padding: 8px;
}

.konten-grafik {
    background-color: #b3b3b3;
}
/* .icon-search {
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 20px;
    padding: 5px 0 0 5px;
    color: #000000;
    opacity: 40%;
} */