.pilihan-beasiswa {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #1f4690;
    margin-top: -20px;
}

.pilihan-beasiswa p a {
    text-decoration: none;
    color: #1f4690;
}

.pilihan-beasiswa p {
    margin: 20px 0;
}