:root {
    --primary-color: #1F4690;
}

.register {
    width: 100%;
    height: 100vh;
}

.register .wrapper {
    margin: 3em auto;
    display: flex;
    width: 80%;
    height: 600px;
    border: 1px solid;
    border-radius: 20px;
}

.register .left,
.register .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.register .left {
    position: relative;
}

.register .left .logo {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.register .left .logo img {
    width: 50px;
    height: 50px;
}


.register .form {
    width: 400px;
    height: 400px;
    background: #EFEFEF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.register .form .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.register .form-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register .form-group input {
    width: 300px;
    height: 35px;
    padding: 5px 0px 5px 45px;
    font-size: 16px;
    outline: none;
    border: none;
}

.register .form-group .icon {
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 28px;
    padding: 5px 0 0 5px;
    color: #000000;
    opacity: 40%;
}

.register .form-group button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.register .form span {
    margin-top: 30px;
    font-size: 16px;
}

.register .form span a {
    color: var(--primary-color);
}

.register .right {
    background: var(--primary-color);
    border-radius: 20px;
}

.register .right img {
    width: 350px;
    height: 250px;
    object-fit: contain;
}